@{
    ViewData["Title"] = "Home Page";
}

<div class="container marketing">




    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Gaming keybords</h2>
            <p class="lead">A gaming keypad is a small, auxiliary keyboard designed only for gaming. It has a limited number of the original keys from a standard keyboard, and they are arranged in a more ergonomic fashion to facilitate quick and efficient gaming key presses.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/img/razer.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Gaming mouse</h2>
            <p class="lead">A mouse designed for gamers. Gaming mice have adjustable sensitivity, which is configurable as the number of dots per inch (DPI). The greater the DPI, the farther the cursor moves on screen with the same amount of mouse movement.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/img/mouse.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Gaming Headset</h2>
            <p class="lead">The gaming headset may be as essential to the video gamer's arsenal as a plush chair, the right set of controls and a blazing fast Internet connection. Although generally designed and used purely for gaming, some gaming headphones are capable of pulling double duty, channeling music as well as gaming sound effects. To meet a gamer’s needs and demands, gaming headsets come equipped with many different features, such as microphones for communicating with fellow online gamers.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="img/headphones.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">


</div>
