@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="entry-content">
    <p><span style="color: #000000;">In order to provide an error-free service, we collect use and disclose information that includes your personal data. We also take every measure in order to protect that data. Please, read the Privacy policy before using our website in order to learn how your data is used and protected. The Privacy policy applies only to our site. It does not apply to any website that may be hyperlinked to ours.</span></p><p><span style="color: #000000;">By accessing or using any part of our website and/or services, you agree to the Privacy Policy as it is stated below. If you disagree with all or any part of the policies terms and conditions, we advise that you consult a legal advisor. If, after the consultation, you still find that you do not agree with our privacy policy, you are prohibited from accessing our site and using any of our provided services. Any new features or tools added to the current website are also subject to the privacy policy and Terms of Services.</span></p><p>
        <span style="color: #000000;"><strong>1. Updates, additions, changes</strong></span><br>
        <span style="color: #000000;">1.1. We reserve the right to update, change or replace any part of this Privacy Policy by posting updates and/or amendments and/or changes to our site. It is your responsibility to check this page periodically for changes. Your continued use of our site after any changes have been posted will automatically mean that you accept the changes. In the event that you do not agree with any amendment and/or modification and/or update, you must immediately stop using our website.”</span>
    </p><p>
        <span style="color: #000000;"><strong>2. Consent</strong></span><br>
        <span style="color: #000000;">2.1. By using this website, you verify that you are at least of a legal age in your country and that you have given us your consent to any data collection as described in this document.</span><br>
        <span style="color: #000000;">2.2. When you provide us with your personal information for a specific purpose, we consider that as authorization to collect and use it to provide our services accurately and efficiently.</span><br>
        <span style="color: #000000;">2.3. If we need your personal information for secondary reasons, such as marketing, reviews or comments, we will require your written confirmation of expressed consent. If you first give us your confirmation and then change your mind, you can withdraw it at any time.”</span>
    </p><p>
        <span style="color: #000000;"><strong>3. Collection and use of information</strong></span><br>
        <span style="color: #000000;">3.1. We collect and use information only to the extent necessary for us to provide our services. We treat any personal information that we collect, process and use with absolute confidentiality and in accordance with the law.</span><br>
        <span style="color: #000000;">3.2. The information we collect and use includes: </span><br>
        <span style="color: #000000;">(a) Name, surname, address, email address, telephone number, date of birth and any proof of your identity and/or address that we may request, and/or</span><br>
        <span style="color: #000000;">(b) Correspondence between us, and/or</span><br>
        <span style="color: #000000;">(c) Information collected through cookies;</span><br>
        <span style="color: #000000;">(d) Calls from and to us, and/or</span><br>
        <span style="color: #000000;">(e) Surveys, and/or</span><br>
        <span style="color: #000000;">(f) Your IP address, session time, browser type and operating system, and/or</span><br>
        <span style="color: #000000;">(g) Details of your visits to our site, and/or</span><br>
        <span style="color: #000000;">(h) Other information you may have provided us.”</span>
    </p><p>
        <span style="color: #000000;"><strong>4. Purpose of collecting information</strong></span><br>
        <span style="color: #000000;">4.1. You can, usually, visit our site anonymously. In such cases, we only have access to the name of your ISP, information about the website from which you were redirected to our site, and the pages you viewed on our site. This information is collected and analyzed for statistical purposes and internal research.</span><br>
        <span style="color: #000000;">4.2. After you register an account, we will have access to information that you provide us and we may use that information to provide you with our services.</span><br>
        <span style="color: #000000;">4.3. With regards to information obtained from you or acquired elsewhere, we may use it for internal goals relating to the development of a potential project and / or the improvement of current projects and / or services.</span><br>
        <span style="color: #000000;">4.4. With regard to information obtained from you or acquired elsewhere, we may use it to contact you and inform you about our services, projects, future developments, etc. If you do not wish to be contacted by us, please let us know in writing.</span><br>
        <span style="color: #000000;">4.5. For the purposes and procedures of due diligence.</span><br>
        <span style="color: #000000;">4.6. In the event that you have violated any terms under this Privacy Policy and/or the Terms of Use, we may use your personal information to contact or locate you in order to take all necessary legal actions against you.”</span>
    </p><p>
        <span style="color: #000000;"><strong>5. Disclosure</strong></span><br>
        <span style="color: #000000;">5.1. We may not disclose your personal information except in situations when:</span><br>
        <span style="color: #000000;">(a) we are required to do so by the law;</span><br>
        <span style="color: #000000;">(b) you have given your consent;</span><br>
        <span style="color: #000000;">(c) it is necessary to provide you with our services in an error-free manner;</span><br>
        <span style="color: #000000;">(d) it is requested by third parties (for example, banking institutions, payment processors, other service providers) in order to provide you with a specific service. It is assumed that from the moment we disclose information to the aforementioned persons and organizations, we do not hold any responsibility regarding their use of your information.</span><br>
        <span style="color: #000000;">(e) it is necessary to prevent fraudulent transactions and actions performed by you or a third party.</span><br>
        <span style="color: #000000;">(e) our website or company is acquired or merged with another company and your data may be transferred to the new owners so that we can continue to provide our services to you.</span><br>
        <span style="color: #000000;">(g) it is necessary to protect our rights and interests, and / or the rights and interests of third parties, due to a violation, by you, of the terms and conditions of the Privacy Policy and / or the Terms of Service.”</span>
    </p><p>
        <span style="color: #000000;"><strong>6. Third Party Links</strong></span><br>
        <span style="color: #000000;">6.1. Some third-party service providers, such as payment processors, have their own privacy policies regarding the information we are required to provide them in relation to your transactions. For these providers, we recommend that you read their privacy policies so that you can understand the manner in which your personal information will be processed by these providers.</span><br>
        <span style="color: #000000;">6.2. When you click on links on our website, they may redirect you to other sites. We are not responsible for the privacy policies of other sites and we recommend that you read their privacy statements.</span><br>
        <span style="color: #000000;">6.3. Once you leave our site or are redirected to a third-party website or application, you are no longer subject to this Privacy Policy and our website’s Terms of Service.”</span>
    </p><p>
        <span style="color: #000000;"><strong>7. Security</strong></span><br>
        <span style="color: #000000;">We use cutting-edge data security technology and our site has measures in place to protect against the loss, misuse, and alteration of any data and information we receive from you. We are constantly striving to improve and ensure the confidentiality of any such data and information. However, we cannot guarantee, and you should not expect from us, that any data and information collected from you, or otherwise obtained in connection with our services, will always remain confidential and secure. We are not responsible for any kind of loss caused by events that are not under our direct control.”</span>
    </p><p>
        <span style="color: #000000;"><strong>8. Use of cookies</strong></span><br>
        <span style="color: #000000;">Cookies may be used to improve the delivery of our services. The cookies we use do not collect personally identifiable information and they are not used to identify you. If you are not comfortable with this, you can set your browser to notify you when a cookie is sent, giving you the option to decline the cookies. Cookies may be used to record information about pages relating to specific products and services that you have visited on our site. This provides us with general usage statistics, which allows us to improve the website and provide you with information that may be of interest to you.”</span>
    </p><p>
        <span style="color: #000000;"><strong>9. Contact information</strong></span><br>
        <span style="color: #000000;">9.1. In addition to other personal information, it is important for us to keep your current contact information in order to be able to reach you when necessary. If your contact details have changed, you need to update them by contacting us by e-mail or by any other means of communication. We are not responsible for any losses incurred due to your inaction and/or failure to update your personal and contact details.”</span><br>
        <span style="color: #000000;">9.2. If you have any questions regarding our Privacy Policy, or if you would like to access, correct, amend or delete any of your personal information that we have, please contact us.</span>
    </p>
</div>